header, main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#head .container{
    width: 80%;
}
#perfil{
    float: right;
    width: 60px;
    height: 60px;
}
#menu{
    float: left;
    width: 60px;
    height: 60px;
}
#welcome{
    display: block;
    width: 80%;
}
#recent_box, #avisos_box{
    display: block;
    width: 80%;
    margin-top: 20px;
}
#inner_recent_box, #inner_avisos_box{
    display: block;
    width: 80%;
    margin-top: 20px;
}