:root{
    --nav-color: #0455BF;
    --bg-color: #F2F2F2;
    --bt-color: #0487D9;
}

* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: var(--bg-color);
}
a{
    text-decoration: none;
    color: black;
}
header, main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#head{
    background: var(--nav-color);
}
#head .container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#perfil{
    float: right;
    width: 60px;
    height: 60px;
}
#menu{
    float: left;
    width: 60px;
    height: 60px;
}
#welcome{
    display: block;
    width: 80%;
}
#box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-top: 20px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}
#inner_box{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
    border: 2px solid black;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
}
#title{
    margin-top: 20px;
    font-size: 36px;
}
#intro{
    font-size: 20px;
}
#job_desc{
    display: block;
}
h3{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-weight: 600;
}
.flex-container{
    display: flex;
    justify-content: space-around;
}
.icons{
    width: 50%;
}

.icons button{
    color: var(--bt-color);
    background: white;
    border: 2px solid var(--bt-color);
    border-radius: 25px;
    padding: 5px;
    width: 100%;
    height: 100%;
}

.ad{
    margin-left: 20px;
}